annotated-types==0.7.0
apispec==6.7.1
aws-lambda-wsgi==0.0.6
blinker==1.8.2
boto3==1.35.57
botocore==1.35.57
certifi==2024.8.30
click==8.1.7
dnspython==2.7.0
Flask==2.0.2
flask-apispec==0.11.4
Flask-Cors==5.0.0
flask_serverless==0.1.4
itsdangerous==2.2.0
Jinja2==3.1.4
jmespath==1.0.1
Markdown==3.4.3
MarkupSafe==3.0.2
marshmallow==3.23.1
packaging==24.2
pydantic==2.1.0
pydantic_core==2.4.0
pymongo==4.5.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
s3transfer==0.10.3
setuptools==75.3.0
six==1.16.0
typing_extensions==4.12.2
urllib3==2.2.3
webargs==8.6.0
Werkzeug==2.3.7
wheel==0.45.0
