form {
    width: 80%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    max-width: 600px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
}


input[type="submit"], button {
    background-color: #859F3D;
    color: white;
    cursor: pointer;
    border: none;
    text-align: center;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover, button:hover {
    background-color: #A2B84A;
}

.tags-filter-container {
    margin-bottom: 20px;
}

.tags-badge-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tag-badge {
    padding: 8px 16px;
    background-color: #f0f0f0;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    transition: all 0.3s ease;
}

.tag-badge.selected {
    background-color: #A2B84A;
    color: white;
    border-color: #A2B84A;
}

.tag-badge:hover {
    background-color: #007bff;
    color: white;
}

.tag-badge.selected:hover {
    background-color: #0056b3;
    color: white;
    border-color: #004085;
}


/* Responsiveness */
@media (max-width: 600px) {
    form {
        width: 100%;
        padding: 15px;
    }

    label {
        font-size: 1rem;
    }

    input, select, button {
        font-size: 1rem;
    }
}
