<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Cache</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="app-name">Code Cache</h1>
        <div class="buttons">
            <a href="/view_cache" class="btn">View Cache</a>
            <a href="/add" class="btn">Add Question</a>
        </div>
    </div>
</body>
</html>
